# environment variables
.env
.env.local
.env*.local

# dependencies
node_modules/

# next.js
.next/
out/

# build
dist/
build/

# supabase
supabase/.temp/
supabase/.branches/

# misc
.DS_Store
*.pem
*.tsbuildinfo
.vercel

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
